@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400&family=Noto+Sans+TC:wght@100;300;400&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');


* {
  font-family: 'Lexend', sans-serif;

}


form {
  min-width: 400px;
  width: 40%;
  margin: auto;
}

.row {
  display: flex;
  margin: 15px;
}

.row label {
  width: 80px;
}
.row input {
  flex-grow: 2;
}

.add {
  text-align: center;
}
div > img {
  height: 20px;
}

